body{
  background-color: rgba(7, 7, 111, 0.882);
}
header{
    background-color: rgb(13, 41, 169);
    height: 250px; ;
    display: flex;
    align-items:center ;
   justify-content: center;
}
nav,aside{
background-color: rgb(99, 119, 219);
      width:20% ;
      float: left;
}
main{
    background-color: rgb(85, 85, 236);
   width:60% ;
   float: left;
}
h2{
    text-align: center;
}
article{
    margin: 10px;
    text-align: justify;
    border: dashed 5px rgb(55, 55, 225) ;
}
figure{
    background-color: rgb(16, 16, 200);
    clear: both;
    height: 200px ;
}
@keyframes grow-shrink {
  25%,
  75% {
    scale: 100%;
  }

  50% {
    scale: 200%;
    color: magenta;
  }
}
p {
  animation-duration: 3s;
  animation-name: slide-in;
}
p span {
  display: inline-block;
  animation-duration: 3s;
  animation-name: grow-shrink;
}

@keyframes slide-in {
  from {
    translate: 150vw 0;
    scale: 200% 1;
  }

  to {
    translate: 0 0;
    scale: 100% 1;
  }
}

@keyframes grow-shrink {
  25%,
  75% {
    scale: 100%;
  }

  50% {
    scale: 200%;
    color: magenta;
  }
}
